* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #1e1e24;
}

main {
  height: 91%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #000000;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}


main .right {
  background-color: rgb(60, 60, 60);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}


textarea:focus {
  outline: none;
  box-shadow: none;
}



/* Navbar Container */
.navbar {
  display: flex;
  align-items: center;
  background-color: #1e1e24;
  padding: 0.7rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Logo Section */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* SVG Logo */
.logo-img {
  width: 40px;
  height: 40px;
  display: block;
}

/* Website Name */
.nav-logo a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}